.doctors {
  padding: 70px 0;
  background-color: var(--blue);
}
.doctors .container .title {
  font-size: 40px;
  font-weight: 500;
  color: #fff;
  width: 50%;
}
.doctors .veterinary-info-container {
  display: flex;
  justify-content: space-between;
  background-color: #3051ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.doctors .info-section {
  flex: 1;
  padding: 45px 7px 0 35px;
  display: grid;
}

.doctors .info-section p {
  font-size: 17px;
  line-height: 1.6;
  color: var(--white);
}

.doctors .specialties ul {
  list-style: none;
  padding: 0;
}

.doctors .specialties li {
  margin: 10px 0;
  font-weight: 600;
  color: var(--white);
}

.doctors .image-section {
  position: relative;
}

.doctors .image-section img {
  max-width: 100%;
  border-radius: 10px;
}
.doctors .doctors .btn {
  margin-top: 44px;
}
.doctors .btnDoctors {
  padding: 4px 19px;
  border-radius: 50px;
  background-color: var(--white);
  color: var(--blue);
  font-size: 12px;
  font-weight: 600;
}
.doctors .btnDoctors img {
  background-color: var(--blue);
  border-radius: 50px;
  margin-left: 20px;
  padding: 5px;
  margin-right: -14px;
}
@media screen and (max-width: 991.2px) {
  .doctors .info-section {
    margin-bottom: 20px;
  }
  .doctors .image-section {
    display: flex;
    justify-content: center;
  }
  .doctors .container .title {
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    width: auto;
    text-align: center;
  }
}
